.CurrencyCarousel {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    margin: 0 24px;
}

.currency {
    flex: 1;
    font-size: 10vw;
    width: 25vw;
}

.arrow {
    align-items: center;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    text-align: left;
    width: 18px;
}

.arrow.right {
    text-align: right;
}

.arrowInner {
    width: 100%;
}

.arrow:hover {
    background-color: rgba(255, 255, 255, .54);
}