.money-input::-webkit-outer-spin-button,
.money-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.money-input {
    -moz-appearance: textfield;
}

.money-input {
    border: none;
    font-size: 15vw;
    width: 50vw;
    text-align: right;
    padding: 0 24px;
    outline: none;
}