.ExchangeControls {
    display: flex;
    flex-direction: row;
    height: 0;
    position: relative;
    top: -12px;
}

.switchButton,
.convertRate {
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .54);
    height: 24px;
    line-height: 1.5;
    margin-left: 7vw;
    padding: 0 8px;
}

.switchButton {
    cursor: pointer;
}